<div class="dk-footer-box-info">
    <a href="#" class="footer-logo">

        <img width="10%" style="margin: 10px;" src="{% static 'img/LOGO.png' %}" alt="footer_logo" class="img-fluid">
    </a>

    <p class="footer-info-text text-capitalize">
        We are Group of Hard working Gentle Men and Women who love
        Building a Great Reading Culture, Reading Environment/Space, Collections and Information
        Accuracy in The Mind/hearts of People and
        Orginizations at their own comfort.
        <br />
        We are so Honored to have you in our Home, Please feel
        Comfy and Embrace this
        unquenchable Ambience here @OakCiti.
    </p>
    <div class="footer-social-link">
        <h3>Follow us</h3>
        <ul>
            <li>
                <a href="#">
                    <i class="fa fa-facebook"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-twitter"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-google-plus"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-linkedin"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-instagram"></i>
                </a>
            </li>
        </ul>
    </div>
    <!-- End Social link -->
</div>