{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load static %}
<header>

    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"
                aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4"
                aria-label="Slide 5"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5"
                aria-label="Slide 6"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="6"
                aria-label="Slide 7"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="7"
                aria-label="Slide 8"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="8"
                aria-label="Slide 9"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="9"
                aria-label="Slide 10"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active" style="background-image: url('static/img/lib1.jpg')">
                <div class="carousel-caption">
                    <h5>Bringing Knowledge to your Home</h5>
                    <p>Let us help you set up your library.</p>
                </div>
            </div>
            <div class="carousel-item" style="background-image: url('static/img/lib2.jpg')">
                <div class="carousel-caption">
                    <h5>Own your dream Library!</h5>
                    <p>Let us make your dream library a Reality.</p>
                </div>
            </div>
            <div class="carousel-item" style="background-image: url('static/img/lib3.jpg')">
                <div class="carousel-caption">
                    <h5>Need Facilities?</h5>
                    <p>We can arrange your desired facilties for you!.</p>
                </div>
            </div>
            <div class="carousel-item" style="background-image: url('static/img/lib4.jpg')">
                <div class="carousel-caption">
                    <h5>We are your best chance at having your dream Library collections</h5>
                    <p>Contact us!.</p>
                </div>
            </div>
            <div class="carousel-item" style="background-image: url('static/img/lib5.jpg')">
                <div class="carousel-caption">
                    <h5>Get your desired information at the snap of your thumb!</h5>
                    <p>Information on your comfort.</p>
                </div>
            </div>
            <div class="carousel-item" style="background-image: url('static/img/lib6.jpg')">
                <div class="carousel-caption">
                    <h5>Digitize your Library with our help</h5>
                    <p>We provide the best facilities for automation.</p>
                </div>
            </div>
            <div class="carousel-item" style="background-image: url('static/img/lib7.jpg')">
                <div class="carousel-caption">
                    <h5>Train your personnels</h5>
                    <p>We have the right staff for coaching your staff.</p>
                </div>
            </div>
            <div class="carousel-item" style="background-image: url('static/img/lib8.jpg')">
                <div class="carousel-caption">
                    <h5>Looking for a librarian?</h5>
                    <p>Book a librarian with us, we guarantee professionals.</p>
                </div>
            </div>
            <div class="carousel-item" style="background-image: url('static/img/lib9.jpg')">
                <div class="carousel-caption">
                    <h5>Looking for the right environment to set up your Library?</h5>
                    <p>We can do the scouting for you.</p>
                </div>
            </div>
            <div class="carousel-item" style="background-image: url('static/img/lib10.jpg')">
                <div class="carousel-caption">
                    <h5>We can also create a database for you!</h5>
                    <p>Databases are important for saving your files and documents.</p>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>



    </div>
</header>
<style>
    .carousel-item {

        height: 80vh;
        min-height: 350px;
        background: no-repeat center center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
</style>

{% endblock %}