{% load static %}
<!DOCTYPE html>
<html>

<head>
    <link rel="icon" href="{% static 'img/LOGO.png' %}" type="image/png">
    <link rel='stylesheet' type='text/css' href="{% static 'css/bootstrap.min.css' %}">
    <link rel='stylesheet' type='text/css' href="{% static 'css/Hcustom.css' %}">
    <link rel='stylesheet' type='text/css' href="{% static 'css/bootstrap.css' %}">

    <link rel='stylesheet' type='text/css' href="{% static 'css/font-awesome.css' %}">
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/jquery-3.4.1.slim.js' %}"></script>
</head>

<body>
    <!-- Navigation -->
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">


            <a class="navbar-brand" href="#">
                <i id='Hicon'> <img src="{% static 'img/LOGO.png' %}" alt="">
                </i>
                oak<span id='citi'>citi</span> </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">ABOUT US</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">SERVICES</a>
                    </li>
                    <li class="nav-item" id=contactus>
                        <a class="nav-link" href="contact-us">CONTACT US</a>
                    </li>
                    <li class=" nav-item" id='login'
                        onclick="loginpopup();document.getElementById('signuppage').style.height = '0'">
                        <a class="nav-link" href="#">LOGIN</a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"
                            onclick="signuppopup();document.getElementById('loginpage').style.height='0'">SIGN UP</a>
                    </li>
                </ul>
            </div>

        </nav>
    </div>
    <!-- login -->
    <div class="login-page" id="loginpage">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <h3 class="mb-3">Login Now</h3>
                    <div class="bg-white shadow rounded">
                        <div class="row">
                            <div class="col-md-7 pe-0">
                                <div class="form-left h-100 py-5 px-5">
                                    <form action="" class="row g-4">
                                        <div class="col-12">
                                            <label>Username<span class="text-danger">*</span></label>
                                            <div class="input-group">
                                                <div class="input-group-text"><i class="bi bi-person-fill"></i></div>
                                                <input type="text" class="form-control" placeholder="Enter Username">
                                            </div>
                                        </div>

                                        <div class="col-12">
                                            <label>Password<span class="text-danger">*</span></label>
                                            <div class="input-group">
                                                <div class="input-group-text"><i class="bi bi-lock-fill"></i></div>
                                                <input type="text" class="form-control" placeholder="Enter Password">
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="inlineFormCheck">
                                                <label class="form-check-label" for="inlineFormCheck">Remember
                                                    me</label>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <a href="#" class="float-end text-primary">Forgot Password?</a>
                                        </div>

                                        <div class="col-12">
                                            <button type="submit"
                                                class="btn btn-primary px-4 float-end mt-4">login</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-md-5 ps-0 d-none d-md-block">
                                <div class="form-right h-100 bg-dark text-white text-center pt-5">
                                    <i class="bi bi-bootstrap"></i>
                                    <h2 class="fs-1">Welcome Back!!!</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="text-end text-secondary mt-3">Bootstrap 5 Login Page Design</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Signup -->

    <div class="signup-page" id="signuppage">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="signup-form">
                    <form action="" class="mt-5 border p-4  shadow">
                        <h4 class="mb-5 text-secondary">Create Your Account</h4>
                        <div class="row">
                            <div class="mb-3 col-md-6">
                                <label>First Name<span class="text-danger">*</span></label>
                                <input type="text" name="fname" class="form-control" placeholder="Enter First Name">
                            </div>

                            <div class="mb-3 col-md-6">
                                <label>Last Name<span class="text-danger">*</span></label>
                                <input type="text" name="Lname" class="form-control" placeholder="Enter Last Name">
                            </div>
                            <div class="mb-3 col-md-6">
                                <label>Email<span class="text-danger">*<span<label>
                                            <input type="email" class="form-control" name="" id=""
                                                aria-describedby="emailHelpId" placeholder="Enter your email">
                                            <small id="emailHelpId" class="form-text text-muted">Your email</small>
                            </div>

                            <div class="mb-3 col-md-12">
                                <label>Password<span class="text-danger">*</span></label>
                                <input type="password" name="password" class="form-control"
                                    placeholder="Enter Password">
                            </div>
                            <div class="mb-3 col-md-12">
                                <label>Confirm Password<span class="text-danger">*</span></label>
                                <input type="password" name="confirmpassword" class="form-control"
                                    placeholder="Confirm Password">
                            </div>
                            <div class="col-md-12">
                                <button class="btn btn-primary float-end">SIGN UP</button>
                            </div>
                        </div>
                    </form>
                    <p class="text-center mt-3 text-secondary">Already have an account? <a href="#">Login Now</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <style>
        #navbarResponsive .nav-link:hover {
            color: rgb(252, 175, 10, 0.507);
        }
    </style>


    <style>
        #navbarResponsive .nav-link:hover {
            color: rgb(252, 175, 10, 0.507);
        }
    </style>


    <style>
        #navbarResponsive .nav-link:hover {
            color: rgb(252, 175, 10, 0.507);
        }
    </style>

</body>
<script>
    contactuspopup = () => {
        if (document.getElementById('contactuspage').style.height == '100%') { document.getElementById('contactuspage').style.height = '0%' }
        else { document.getElementById('contactuspage').style.height = '100%' }

    }
    loginpopup = () => {
        if (document.getElementById('loginpage').style.height == '100%') { document.getElementById('loginpage').style.height = '0%' }
        else { document.getElementById('loginpage').style.height = '100%' }

    }

    signuppopup = () => {
        if (document.getElementById('signuppage').style.opacity == '1') {


            document.getElementById('signuppage').style.filter = 'blur(10px)';
            document.getElementById('signuppage').style.opacity = '0';
            document.getElementById('signuppage').style.height = '0'

        }
        else {
            document.getElementById('signuppage').style.height = '100%'
            document.getElementById('signuppage').style.filter = 'blur(0)';
            document.getElementById('signuppage').style.opacity = '1'


        }

    }
</script>


</html>